img.aligncenter{display:block;margin:0 auto}

*{ 
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Gothic Coding', monospace;
}
pre {
    font-size: 0.9em;
}

#results-container{
    margin-top : var(--spacer);
}

#footer-social-column, .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}